@use"../abstracts/colors" as*;

main{
    background-color:$bacgroud-color ;
}

.container-form {
    position: absolute;
    top: 94%;
    left: 30%;
    width: 40%;
    height: 14.25rem;
    background-color: $color-tertiary;
    border-radius: 1rem;
    padding: 1rem;
}

#form-chercher{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-top: 1rem;
    
}

.selection-hotel{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid ;
    background-color:$color-input;
}

#nombrePers {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid ;
    background-color:$color-input;
}

#arriveeDate{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid ;
    background-color:$color-input;
}

.cta {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 48px;
}

.hotel {
    margin-top: 18.2rem;
}

.localisation {
    display: flex;
    align-items: center;
}

.hotel-feu, .hotel-terre {
    display: flex;
    align-items: center;
    margin-left: 5rem;
    margin-bottom: 6.8rem;
    height: 38.8rem;
    .presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        width: 41%;
        height: 31.9rem;
        gap: 3.4rem;
    }
}

.img-feu {
    display: flex;
    width: 43%;
    margin: 0.5rem; 
    gap: 1rem;
}

.img-terre {
    display: flex;
    width: 43%;
    margin: 0.5rem; 
    gap: 1rem;
}

.img-active {
    width: 100%;
    height: 38rem;
    object-fit: cover;
}

.img-second {
    width: 32%;
    height: 38rem;
    object-fit: cover;
}

.hotel-air, .hotel-eau {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
    margin-bottom: 6.8rem;
    height: 38.8rem;
    .presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        width: 41%;
        height: 31.9rem;
        gap: 3.4rem;
    }
}

.img-air {
    display: flex;
    width: 43%;
    margin: 0.5rem; 
    gap: 1rem;
}

.img-eau {
    display: flex;
    width: 43%;
    margin: 0.5rem; 
    gap: 1rem;
}

.pres-concept aside {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.container-col {
    display: flex;
    width: 27%;
    gap: 8.2rem; 
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.content-propos {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10rem;
    padding-bottom: 6.4rem;
}

.col-propos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 29%;
}

img.guillemets {
    width: 30%;

}

.img-propos img {
    width: 488px;
    height: 712px;
    object-fit: cover;
    object-position: center;
}

.img-mobile {
    display: none;
  }
@media (max-width: 768px) {
    .banner .titre-banner {
        top: 12%;
    }
    .container-form {
        width: 38%;
        height: 19.25rem;
    }
    .cta {
        top: 0px;
    }
    .hotel-feu, .hotel-terre {
        flex-direction: column-reverse;
        margin-left: 0;
        margin-top: 2rem;
        height: auto;
        gap: 3rem;
    }
    .hotel-feu .presentation, .hotel-terre .presentation {
        width: 64%;
        gap: 1rem;
    }
    .img-feu ,.img-terre{
        width: 58%;
    } 
    .hotel-air, .hotel-eau {
        flex-direction: column;
        margin-left: 0;
        margin-top: 2rem;
        height: auto;
        gap: 3rem;
        margin-right: 0;
    }
    .hotel-air .presentation, .hotel-eau .presentation {
        width: 64%;
        gap: 1rem;
    }
    .img-air, .img-eau{
        width: 58%;
        justify-content: start;
        flex-direction: row-reverse;
    } 
    aside {
        width: 100%;
    }
    .container-col {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 5rem;
    }
    .archi h3{
        order: 1;
    }
    .archi img {
        order: 0;
    }
    .archi p {
        order: 3;
    }
    .content-propos {
        flex-direction: column;
        align-items: center;
        padding: 4rem 2rem;
        gap: 3rem;
      }
    
      .col-propos {
        width: 80%;
      }
    
      .img-propos {
        display: none; /* Cache l'image desktop */
      }
    
      .img-mobile {
        display: block;
        width: 314px;
        height: 320px;
        object-fit: cover;
        object-position: center;
      }
    
      .guillemets {
        width: 50px;
      }
    
      .texte-propos {
        font-size: 1.4rem;
        line-height: 1.6;
        padding: 0 1rem;
      }
    
      .signature {
        font-weight: bold;
        margin-top: 2rem;
      }
    
}