footer .row {
    height: 17rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.col-footer {
    width: 22%;
    line-height: 2rem;
    margin: 3rem;
}
.logo-footer {
    width: 52%;
}

@media (max-width: 768px) {
    footer .row {
        display: flex;
        flex-direction: column;
        height: 17rem;
        margin: 2rem;
    }
}