@font-face {
    font-family: 'karla-bold', 'sans-serif';
    src: url('../fonts/fonts/Karla/static/Karla-Bold.ttf') format('ttf');
}
@font-face {
    font-family: 'karla-regular', 'sans-serif';
    src: url('../fonts/fonts/Karla/static/Karla-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'karla-medium', 'sans-serif';
    src: url('../fonts/fonts/Karla/static/Karla-Medium.ttf') format('ttf');
}
@font-face {
    font-family: 'playfair-medium', 'sans-serif';
    src: url('../fonts/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf') format('ttf');
}
@font-face {
    font-family: 'playfair-bold', 'sans-serif';
    src: url('../fonts/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf') format('ttf');
}