@use"../../fonts/styles.scss" as *;

$font-karla-reg:"karla-regular", sans-serif; //pour les p
$font-karla-bold:"karla-bold", sans-serif; // pour les h5
$font-karla-med:"karla-medium",sans-serif;
$font-play-med:"playfair-medium" ; // pour les h1 et les h2
$font-play-bold:"playfair-bold";// pour les h3